[submodule "image_ops"]
	path = image_ops
	url = https://github.com/ggcrunchy/image_ops.git
[submodule "signal_ops"]
	path = signal_ops
	url = https://github.com/ggcrunchy/signal_ops.git
[submodule "spline_ops"]
	path = spline_ops
	url = https://github.com/ggcrunchy/spline_ops.git
[submodule "bitwise_ops"]
	path = bitwise_ops
	url = https://github.com/ggcrunchy/bitwise_ops.git
[submodule "linear_algebra_ops"]
	path = linear_algebra_ops
	url = https://github.com/ggcrunchy/linear_algebra_ops.git
[submodule "s3_utils"]
	path = s3_utils
	url = https://github.com/ggcrunchy/s3_utils
[submodule "corona_utils"]
	path = corona_utils
	url = https://github.com/ggcrunchy/corona_utils
[submodule "corona_ui"]
	path = corona_ui
	url = https://github.com/ggcrunchy/corona_ui
[submodule "corona_mask"]
	path = corona_mask
	url = https://github.com/ggcrunchy/corona_mask
[submodule "number_sequences"]
	path = number_sequences
	url = https://github.com/ggcrunchy/number_sequences
[submodule "tektite_core"]
	path = tektite_core
	url = https://github.com/ggcrunchy/tektite_core
[submodule "array_ops"]
	path = array_ops
	url = https://github.com/ggcrunchy/array_ops
[submodule "iterator_ops"]
	path = iterator_ops
	url = https://github.com/ggcrunchy/iterator_ops
[submodule "coroutine_ops"]
	path = coroutine_ops
	url = https://github.com/ggcrunchy/coroutine_ops
[submodule "image_fx"]
	path = image_fx
	url = https://github.com/ggcrunchy/image_fx
[submodule "numeric_types"]
	path = numeric_types
	url = https://github.com/ggcrunchy/numeric_types
[submodule "s3_editor"]
	path = s3_editor
	url = https://github.com/ggcrunchy/s3_editor
[submodule "tektite_base_classes"]
	path = tektite_base_classes
	url = https://github.com/ggcrunchy/tektite_base_classes
[submodule "s3_objects"]
	path = s3_objects
	url = https://github.com/ggcrunchy/s3_objects
[submodule "corona_boilerplate"]
	path = corona_boilerplate
	url = https://github.com/ggcrunchy/corona_boilerplate
[submodule "s3_editor_views"]
	path = s3_editor_views
	url = https://github.com/ggcrunchy/s3_editor_views
[submodule "corona_shader"]
	path = corona_shader
	url = https://github.com/ggcrunchy/corona_shader
[submodule "corona_shader_glsl"]
	path = corona_shader_glsl
	url = https://github.com/ggcrunchy/corona_shader_glsl
